*{margin:0;padding:0;font-family:"Microsoft YaHei","微软雅黑";box-sizing:border-box;}
a{text-decoration:none;}
li{list-style:none;}

/*---- 头部页面 ----*/
#header{
  width:100%;height:93px;
	background:#fff;
	box-shadow:0 2px 20px #ccc;
	z-index: 999;
	display: block;
	padding: 0 10px;
	position: absolute;
}
.header-center{
  width:1186.28px;height:93px;
  margin:0 auto;
}
.logo{
  width:70px;height:35px;
	line-height:93px;
	margin-top:30px;
	display:block;
}
.logo img{
	width:70px;height:35px;
	display:block;
}
.left-li{
  width:104px;height:93px;
  padding:0 20px;
  float:left;
}
.left-li-active{
  width:104px;height:93px;
  padding:0 20px;
	border-bottom: 2px solid #409eff;
	float:left;
}
.left-li a{
  width:64px;height:93px;
  font-size:16px;
  color:#909399;
  line-height:93px;
  display: block;
}
.a-active{
	width:64px;height:93px;
  font-size:16px;
	color:#303133;
	line-height:93px;
  display: block;
}
.right-ul{
	width:593.14px;height:93px;
	padding-left:	40px;
}
.right-li{
	width: 563.14px;height:93px;
	padding-right:10px;
}
.right-li a{
	display:block;
	color:#000;
	font-size:16px;
	line-height:93px;
	margin-left:20px;
	float:right;
}
/*---- 主体 ----*/
#content{
	width:100%;height:auto;
	display:block;
	position:relative;
	top:93px;
}
#content>div{
	width:100%;height:auto;
	display:block;
}

/*----商品栏----*/
.product-list{
	width: 200px;height:134px;
	left:18%;	
	position:absolute;
	z-index:999;
}
.product-list ul{
	width:200px;height:102px;
	margin: 16px 0;
	padding-left:40px; 
}
.product-list ul li{
	width:200px;height:50px;
	margin-bottom:2px; 
}
.product-list ul li a{
	width:100%;height:100%;
	background:#7f7f7f;
	color:#fff;
	font-size:16px;
	text-align:center;
	line-height:50px;
	position: relative; 
	padding: 0 20px;
	display: block;
}
.product-list ul li a span{
	width:16px;height:50px;
	display:block;
	float:right;
}
.product-list ul li a span::before{
	content: ">";
	font-family:"宋体";
	color:#fff;
	font-size:16px;
	font-weight:bolder;
}

/*---- 焦点轮播图 ----*/
#viewpager{
	width:100%;height:auto;
}
.img-h{
	width:100%;height:782px;
	display: block;
}
.title-text{
	padding-left:32%;
	position: absolute;
	top:90px;
}
.title-text h3{
	color:#000;
	font-size:30px;
	font-weight:500;
	line-height:1.1;
	display:block;
}
.title-text p{
	height:47px;
	color:#000;
	font-weight:700;
	font-size:36px;
	display:block;
	margin-top:5px;
}
.span1{
	height:37px;
	color:#000;
	font-size:20px;
	display:block;
	border-top:1px solid #000;
	padding-top:10px;
	margin-top:10px;
}
.span2{
	height:11px;
	color:#000;
	font-size:20px;
	display:block;
	border-top:1px solid #000;
	padding-top:10px;
	margin-top:10px;
}
.title-text div{
	width:150px;height:30px;
	border:1px solid #000;
	margin-top:40px;
	display:inline-block;
	text-align:center;
	float:left;
}
.title-text div a{
	width:150px;height:32px;
	color:#000;
	font-size:20px;
	line-height:28px;
	display:block;
}
.carousel-control-prev,
.carousel-control-next{
  width:36px;height:36px;
  top: 50%;
	background-color:rgba(31,45,61,.11);
	color: #fff;
	border-radius:50%;
}
.carousel-control-prev{
	left:16px;
}
.carousel-control-next{
	right:16px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
	background-image:none;
}
.carousel-control-prev-icon::after{
	content:"<";
	display:block;
	color: #fff;
	font-size:15px;
	font-family:"宋体";
	font-weight:1000;
}
.carousel-control-next-icon::after{
	content:">";
	display:block;
	color: #fff;
	font-size:15px;
	font-family:"宋体";
	font-weight:1000;
}
.carousel-indicators li{
	width:30px;height:2px;
	margin:20px 4px 0;
	cursor:pointer;
}
/*----  尾部页面  ----*/
#footer{
	width:100%;height:100px;
	background:#d9d9d9;
	padding:0 20px;
	margin-top:90px;
}
.footer-text{
	height:56px;
	font-size:13px;
	color:#3f3f3f;
	text-align:center;
	margin:23px 0;
	line-height:28px;
}
.footer-text a{
	color:#000;
}

/*---------fixed--------*/
.fixed{
	width:50px;height:158px;
	position:fixed;
	top:80%;
	right:0;
}
.fixed .fixed-next{
	width:50px;height:50px;
	margin-bottom:4px;
}
.fixed .fixed-next .fixed-1{
	width:50px;height:50px;
	display:block;
	background:url("../images/fixed/01.png") no-repeat 0px 0px;
	opacity:0.6;
}
.fixed .fixed-next .fixed-2{
	width:50px;height:50px;
	display:block;
	background:url("../images/fixed/icon.png") no-repeat 0px -130px;
	opacity:0.6;
}
.fixed-wx{
	width:116px;height:142px;
	position:fixed;
	background:#d9d9d9;
	z-index:999;
	top:76%;
	right:58px;
}
.rw-code{
	width:96px;height:96px;
	margin:10px auto 4px;
}
.rw-text{
	width:116px;height:32px;
	background:gray;
	text-align:center;
}
.rw-text span{
	color:#fff;
	line-height:32px;
}