*{margin:0;padding:0;font-family:"Microsoft YaHei","微软雅黑";box-sizing:border-box;}
a{text-decoration:none;}
li{list-style:none;}


/*首栏*/
.The-first-column{
	width:100%;height:50px;
	background:#E5E5E5;
	color:#000;
	border-bottom:1px solid rgba(0,0,0,.2);
	padding:0 15px;
}
.The-first-column div{
	width:1170px;height:50px;
	margin:0 auto;
	padding:0 15px;
	line-height:50px;
}
.The-first-column div .The-first-column-1{
	width:30px;height:20px;
	color:#000;
	font-size:15px;
	display:block;
	text-align:center;
	float:left;
}
.The-first-column div .The-first-column-2{
	width:70px;height:20px;
	color:#000;
	font-size:15px;
	text-align:center;
	display:block;
	float:left;	
}
.The-first-column div span{
	width:11.13px;height:20px;
	font-size:15px;
	display:block;
	float:left;
}
/*----  焦点轮播图  ----*/

/*----  图片溢出隐藏 ----*/
.carousel-item{
	width:100%;height:555px;
}
#viewpager>ul>li{
	cursor:pointer;
}
.carousel-indicators li{
	width:10px;height:10px;
	background:#96A1A5;
	border-radius: 50%;
	margin-right:3px;
	margin-left:3px;
	border: 1px solid #fff;
}
.carousel-indicators .active{
	width:12px;height:12px;
	border-radius:50%;
	border: 1px solid #fff;
	background:#fff;
}

/*概要栏*/
.overview{
	width:100%;height:46px;
	border-bottom:1px solid #9F9F9F;
	padding:6px 0;
	margin-bottom:30px;
}
.overview .overview-center{
	width:1170px;height:33px;
	margin:0 auto;
	padding:0 15px;
	display:block;
}
.overview .overview-center .overview-ul{
	width:1170px;height:33px;
	margin-left:-5px;
	display:block;
	}
.overview .overview-center .overview-ul li{
	height:21px;
	margin:6px 0;
	padding:0 15px;
	float:left;
}
.overview .overview-center .overview-ul .overview-li-first{
	width:62px;
	border-right:2px solid #9F9F9F;
}
.overview .overview-center .overview-ul .overview-li-middle{width:90px;	}
.overview .overview-center .overview-ul .overview-li-last{width:89.891px;}
.overview .overview-center .overview-ul li a{
	color:#8D8D8D;
	font-size:15px;
}

/*----大标题----*/
.headline{
	width:1170px;height:37.2px;
	margin:20px auto 0;
	padding:0 15px;
}
#headline{
	width:100%;height:27px;
	color:inherit;
	font-size:25px;
	font-weight:500;
	line-height:1.1;
	text-align:center;
}
.content{
	width:1170px;height:247.95px;
	margin:30px auto;
	padding:0 15px;
}
.content>ul{
	width:1170px;height:185.85px;
	margin:0 -15px 30px;
	display:block;
}
.content>ul>li{
	width:100%;height:185.95px;
	padding:0 5px;
	float:left;
	text-align:center;
}
.content>ul>li>a{
	color:#000;
	font-size:15px;
}
.content>ul>li>a p{
	width:100%;height:51px;
	background:#f1f1f1;
	padding:15px;
	text-align:center;
}
.text-more{
	width:100%;height:32px;
	text-align:center;
}
.text-more>a{
	width:110px;height:32px;
	display:inline-block;
	line-height:30px;
	border:1px solid #0090B1;
	color:#0090B1;
	font-size:15px;
}
.big-img{
	width:1170px;height:auto;
	margin:30px auto;
}

/*----尾部显示高度----*/
.my_footer{
	width:100%;height:288.38px;
	display:block;
}
#footer{
	width:100%;height: 288.38px;
}

/*---------fixed--------*/
.fixed{
	width:50px;height:158px;
	position:fixed;
	top:75%;
	right:0;
}
.fixed .fixed-next{
	width:50px;height:50px;
	margin-bottom:4px;
}
.fixed .fixed-next .fixed-1{
	width:50px;height:50px;
	display:block;
	background:url("../images/fixed/go-top-icon.png") no-repeat 1px 0px;
	opacity:0.4;
}
.fixed .fixed-next .fixed-2{
	width:50px;height:50px;
	display:block;
	background:url("../images/fixed/icon.png") no-repeat 0px -130px;
	opacity:0.4;
}
.fixed .fixed-next .fixed-3{
	width:50px;height:50px;
	display:block;
	background:url("../images/fixed/icon.png") no-repeat 0px -250px;
	opacity:0.4;
}