*{margin:0;padding:0;font-family:"Microsoft YaHei","微软雅黑";box-sizing:border-box;}
a{text-decoration:none;}
li{list-style:none;}

body{
  color:#666;
  font-family:"Arial""宋体","simsun";
  font-size:12px;
  line-height:1.65;
  background:#eee;
}

.center{
  width:960px;height:798px;
  margin:0 auto;
}

.head{
  width:100%;
  margin:0 auto;
}
.head_border{
  width:960px;height:82px;
  background:#dfe4ea;
  border-bottom:1px solid 1px solid #e6ebef
}
.head_content{
  width:960px;height:81px;
  background-color:#fff;
  clear:both;
  border-bottom:1px solid #d8dbe0;
}
.boe_logo{
  width:480px;height:56px;
  float:left;
}
.boe_logo>img{
  margin-top:16px;
  margin-left:30px;
}
.list_right{
  width:400px;height:80px;
  float:right;
  font-size:12px;line-height:80px;
  margin-right:65px;
  text-align:right;
}
.list_right_content{
  width:100%;height:80px;
}
.list_right_content>em{
  height:12px;
  padding:0 5px;
  font-weight:normal;
  font-style:normal;
  color:#bcbcbc;
}
.list_right_content a{
  color:#64A8DC;
  text-decoration:none;
  font-family:"宋体";
}
.content{
  background-color:#dee5ed;
}
.map{
  width:100%;height:546px;
  padding-top:45px;
  padding-bottom:173px;
  background:url(/images/joinUs/bacimage.jpg) no-repeat right bottom;
}
.window{
  width:622px;height:328px;
  font-family:"PingFang SC","Helvetica Neue","Helvetica","arial","Hiragino Sans GB","Microsoft YaHei","宋体","sans-serif";
  margin:0 auto;
  padding:30px 70px;
  background:#fff;
  border-radius:1px;
  border:1px solid #c5cace;
}
.window>form,.window>form>div{
  width:480px;height:266px;
}
.title{
  width:480px;height:55px;
}
.title>h3{
  width:480px;height:22px;
  margin-bottom:10px;
}
.text_bold{
  color:#333;
  font-size:16px;
  font-family:"宋体";
  line-height:22px;
  display:block;
}
.text_light{
  display:block;
  color:#8F9CA6;
  font-size:14px;
  line-height:14px;
  margin-top:3px;
  font-family:"宋体";
  font-weight:normal;
}
.title>a{
  width:84px;height:16px;
  margin-top:7px;
  margin-left:208px;
  font-size:14px;
  color:#475966;
  font-family:"宋体";
  display:inline-block;
  text-decoration:underline;
  line-height:16px;
}
.window>form>div>ul{
  width:480px;height:125px;
}
.window>form>div>ul>li{
  width:100%;height:auto;
  margin-top:20px;
}
.window>form>div>ul>li>span{
  width:200px;height:23px;
  font-size:14px;
  color:#9aa8b3;
  display:block;
  font-family:"Arial","宋体","simsun";
}
.window>form>div>ul>li>input{
  width:297px;height:27px;
  border:0;
  border-bottom:1px solid #e4ebf0;
  outline:none;
}
.window>form>div>ul>li>div{
  width:298.89px;height:32px;
  border-bottom:1px solid #e4ebf0;
}
.dxCode_in>input{
  width:215px;height:26px;
  border:0;
  outline:none;
}
.dxCode_btn{
  width:80px;height:28px;
  display:inline-block;
  line-height:28px;
  background:#b9dbf3;
  border-radius:2px;
  font-size:12px;
  color:#fff;
  text-align:center;
  margin-bottom:2px;
  cursor:pointer;
}
.btns{
  width:480px;height:56px;
  margin-top:10px;
}
.tj_btn{
  width:145px;height:44px;
  background:#1687d9;
  border-radius:2px;
  display:inline-block;
  vertical-align:middle;
}
.tj_btn>span{
  width:145px;height:32px;
  margin-top:6px;
  text-align:center;
  display:block;
  color:#fff;
  font-size:14px;
  cursor:pointer;
  line-height:32px;
  font-family:"Arial","宋体","simsun";
}
.qx_btn{
  width:145px;height:44px;
  display:inline-block;
  background:#CDD6DC;
  margin:6px 10px;
  border-radius:2px;
  vertical-align:middle;
}
.qx_btn>span{
  width:145px;height:44px;
  display:block;
  color:#fff;
  text-align:center;
  cursor:pointer;
  font-size:12px;
  line-height:44px;
  font-family:"Arial","宋体","simsun";
}
.footer{
  width:960px;height:41px;
  line-height:40px;
  color:#aaa;
  font-size:12px;
  border-top:1px solid #d3d3d3;
  background:#f4f4f4;
  text-align:center;
}
.footer a{
  color:#aaa;
  display:inline-block;
  height:20px;
  line-height:20px;
}
.footer a>img{
  vertical-align:middle;
}